body{
    padding: 0 auto;
    margin: 0 auto;
    font-size: 15px;
    font-family: sans-serif;
    


}
header{

    display: flex;
    font-size: 10px;
    justify-content: space-between;
    background:  black ;
    text-align: center;
    letter-spacing: 2px;
    
    

}

h1{
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 100px;
}

p {

    align-items: center;
    text-align: center;
    color: aliceblue;
}

.nav-barr{
    margin-top: 10px;    
}

.text-1{

    padding: 0;
    font-size: 0;
    display: flex;
    margin: 100%, auto;
    width:"1856px";
    height:"800px";

}

#apostolo{

    align-items: center;
    text-align: center;
    background-color: black;
    width: 100% auto;

}

.icon1 {

    display: inline-block;
    justify-content: space-between;
    vertical-align: middle;
    margin-left: auto;
    font-size: 15px;
    height: 2px;
    right: 2px;
    justify-items: center ;
    align-items: 2px;
    color: aliceblue;
    margin: 10px;
}


a {

    color: aliceblue;
    align-items: 10px;
    text-align: 10px;
    font-style: italic;
    
}

.icom:hover {

    padding: 12px ;
    background-color: rgb(202, 101, 33);
    transition: 1s;
    border: 50px;
    border-bottom: 100%;
    border-radius: 100px;
    font: 10px;
    
    
    

}




